<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>412683388175-iiki71puqjh7c6hpvn1acqsbm0kandkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412683388175-iiki71puqjh7c6hpvn1acqsbm0kandkt</string>
	<key>API_KEY</key>
	<string>AIzaSyDe4bH8ZFddoNHZQZP2gvBPuBctRNVOLkg</string>
	<key>GCM_SENDER_ID</key>
	<string>412683388175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edsaio.job-m</string>
	<key>PROJECT_ID</key>
	<string>edsa-9e0f3</string>
	<key>STORAGE_BUCKET</key>
	<string>edsa-9e0f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412683388175:ios:c129da0e1cb9003d</string>
	<key>DATABASE_URL</key>
	<string>https://edsa-9e0f3.firebaseio.com</string>
</dict>
</plist>